[user]
  name = Sven Dahlstrand
  email = sven.dahlstrand@gmail.com
[color]
  ui = true
[core]
  autocrlf = input
  excludesfile = ~/.gitignore_global
[alias]
  c = commit
  ca = commit --amend
  a = add
  co = checkout
  l = pull --rebase
  p = push
  s = status
  d = diff
  dc = diff --cached
  g = log
  undo = reset --soft HEAD^
  w = show
  b = branch
[push]
  default = upstream
