[user]
  name = Sven Dahlstrand
  email = sven.dahlstrand@gmail.com
[color]
  ui = true
[core]
  autocrlf = input
  editor = mvim
[alias]
c = commit -m
ca = commit --amend
a = add
ac = !git add . && git commit -m
co = checkout
aa= !git add -A && git status
l = pull --rebase
p = push
s = status
d = diff
dc = diff --cached
g = log
undo = reset --soft HEAD^
w = show
