"*":
  core:
    disabledPackages: [
      "exception-reporting"
    ]
    telemetryConsent: "no"
    themes: [
      "dracula-ui"
      "dracula-theme"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
  "exception-reporting": {}
  "linter-cppcheck": {}
  "linter-cpplint":
    extensions: "cpp,h,ino"
    filters: "-legal"
  "linter-gcc": {}
  "linter-ruby": {}
  "linter-shellcheck":
    enableNotice: true
  "markdown-preview":
    useGitHubStyle: true
  "spell-check":
    locales: [
      "sv-SE"
      "en-US"
    ]
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    startInInsertMode: true
  welcome:
    showOnStartup: false
